@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
$font-title: "Comic Sans MS", "Comic Sans", cursive;
$font-text: "Comic Sans MS", "Comic Sans", cursive;
$size-title: 1.5rem;
$size-subtitle: 1.05rem;
$size-text: 1rem;
