@use "./abstracts/index" as *;

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.wrapper {
    padding-top: $nav-bar-height;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detailsLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    @include tabletView() {
        justify-content: center;
    }
}
